*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: auto;
    background-color: black;
}

#minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    height: 10px;
    width: 10px;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 50%;
    z-index: 99999;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    position: relative;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingElement {
    transform: translateY(100%);
}

.nav {
    position: fixed;
    top: 0px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 40px;
    background-color: black;
    font-family: "General Sans Medium";

}

.nav a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
    font-family: "General Sans Medium";
    position: relative;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1.6px;
    width: 0%;
    background-color: #ffffff;
    transition: all ease 0.5s;
}

.nav a:hover::after {
    width: 100%;
}

.heading {
    padding-top: 140px;

}

.blocktext {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h4 {
    text-align: right;
}

.heading h1 {
    margin-left: 30px;
    font-size: 10vw;
    opacity: .7;
    color: whitesmoke;
    line-height: 1;
}

.heading .second-h1 {
    margin-left: 130px;
}

.small-headings {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 70px;
    padding-right: 50px;
}

.small-headings h5 {
    text-transform: uppercase;
    text-align: right;
    font-size: 1vw;
    margin-top: .5vw;
}

.hero-footer {
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "General Sans Medium";
    font-size: 1rem;
}

.hero-footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    position: relative;
}

.hero-footer a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1.6px;
    width: 0%;
    background-color: #ffffff;
    transition: all ease 0.25s;
}

.hero-footer a:hover::after{
    width: 100%;
}

.iconset {
    display: flex;
    gap: 5%;
}

.hero-footer .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
}

.second {
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 100px;
    color: whitesmoke;
    padding-right: 12vw;
    padding-left: 2vw;

}

.elem {
    position: relative;
    border-top: 1px solid #888;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem h1 {
    text-transform: uppercase;
    padding: 2vw 4vw;
    font-size: 7vw;
    opacity: .7;
}

.elem h4 {
    text-transform: uppercase;
} 

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

.about {
    width: 100%;
    background-color: black;
    padding: 15vw;
    display: flex;
    align-items: center;
    padding-left: 35vw;
    gap: 10%;
}

.about img {
    width: 200px;
    border-radius: 100%;
}

.textabout {
    color: whitesmoke;
    width: 25rem;

}

.textabout h5 {
   opacity: .7;
   margin-bottom: 10px;
}

.textabout p {
    line-height: 1.5;
    margin-bottom: 30px;
}

.textabout a {
    border: 1px solid;
    color: whitesmoke;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 100px;    
}

.footer {
    background-color: black;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

.footer-left {
    display: flex;
    gap: 20px;
}

.footer-right {
    display: flex;
    gap: 30px;    
}
.footer-right a {
    position: relative;   
}

.footer-right a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1.6px;
    width: 0%;
    background-color: #ffffff;
    transition: all ease 0.5s;
}

.footer-right a:hover::after{
    width: 100%;
}

.footer a {
    color: whitesmoke;
    text-decoration: none;   
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
}